.tasks{
    color:white;
    font-size: 21px;
}
h1{
    font-size: 50px;
}   
.headtask{
    display:flex;
    justify-content: center;
    margin:30px;
}
.design{
    padding : 5px 5px;
}
.temp{
    color:white;
}
.elf{
    color:wheat;
}
ul{
    padding:0px;    
}
.yolo{
    font-size: 50px;
    color:green;
}
.mess{
    margin:10px;
}